<div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-md-12 text-center">
                <div class="loadingio-spinner-spinner-md6kalg45">
                    <div class="ldio-dlqxo4c217">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>